<%- include('../partials/header', { title: 'Dashboard - GameMatch' }) %>

<section class="dashboard-page">
  <div class="container dashboard-card">
    <h1>Welcome, <%= user.username %> 🎮</h1>

    <% if (user.avatar) { %>
      <img src="/uploads/<%= user.avatar %>" alt="Avatar" class="profile-avatar" />
    <% } else { %>
      <div class="profile-avatar placeholder-avatar">No Avatar</div>
    <% } %>

<div class="profile-status">
<p><%= user.status || 'Offline' %></p>
</div>

    <div class="bio">
<label>bio</label>
<p><%= user.bio || 'Geen bio beschikbaar.' %></p>
</div>

    <div class="tags">
<label>Tags</label>
<ul>
  <% if (user.tags && user.tags.length > 0) { %>
    <% user.tags.forEach(tag => { %>
      <li><%= tag %></li>
    <% }) %>
    <% } else { %>
      <li>No tags</li>
  <% } %>
</ul>
</div>

<div class="edit">
    <a href="/dashboard/edit">Edit Profile</a>
</div>

      <div class="dashboard-games">
        <div class="favorite-games">
    <label>Favoriete games</label>
    <ul>
    <li><%= user.favoriteGames && user.favoriteGames.length > 0 ? user.favoriteGames[0] : 'No favorite game.' %></li>
    <li><%= user.favoriteGames && user.favoriteGames.length > 1 ? user.favoriteGames[1] : 'No favorite game.' %></li>
    <li><%= user.favoriteGames && user.favoriteGames.length > 2 ? user.favoriteGames[2] : 'No favorite game.' %></li>
    <li><%= user.favoriteGames && user.favoriteGames.length > 3 ? user.favoriteGames[3] : 'No favorite game.' %></li>
    
    </ul>
    
      </div>
    <% } %>

    <p class="dashboard-text">
      This page is ready for the next team step, like profiles, matches or chat.
    </p>

    <div class="hero-actions">
      <a href="/" class="primary-btn">Back Home</a>
      <form action="/logout" method="POST">
        <button type="submit" class="secondary-btn dashboard-logout-btn">Log Out</button>
      </form>
    </div>
  </div>
</section>

<%- include('../partials/footer') %>
