<li class="playerCardContent" 
    data-userid="<%= player._id %>"
    data-platform="<%= player.platform || '' %>" 
    data-playstyle="<%= player.playstyle || '' %>" 
    data-language="<%= player.language || '' %>">

    <% if (player.friendStatus === 'friends') { %>
      <button class="friend-btn btn-disabled" disabled>Friends</button>
    <% } else if (player.friendStatus === 'pending') { %>
      <button class="friend-btn btn-disabled" disabled>Request sent</button>
    <% } else { %>
      <button class="friend-btn btn-add-friend" data-userid="<%= player._id %>">Add Friend</button>
    <% } %>

    <!-- thumbnail -->

    <div>
        <% if (player.thumbnail) { %>
            <img src="/uploads/<%= player.thumbnail %>" alt="">
        <% } else { %>
            <img src="/images/default-thumbnail.png" alt="default thumbnail">
        <% } %>
    </div>

    <!-- avatar -->

    <img
        src="<%= player.avatar ? '/uploads/' + player.avatar : '/images/player-placeholder.png' %>"
        alt="Profielfoto van <%= player.username %>"
    >

    <!-- user information -->

    <div>
        <h3 class="name"><%= player.username %></h3>
        <p class="bio"><%= player.bio || 'No bio available' %></p>
    </div>

    <div>
        <p class="platform"><%= player.platform || 'No platform' %></p>
        <p class="playstyle"><%= player.playstyle || 'No playstyle' %></p>
        <p class="language"><%= player.language || 'No language' %></p>
    </div>

    <!-- favorite games -->
    <div>       
        <% if (player.favoriteGames && player.favoriteGames.length) { %>
            <ul class="games">
                <% player.favoriteGames.forEach(game => { %>
                    <li><%= game.name %></li>
                <% }) %>
            </ul>
        <% } else { %>
            <p class="games">No favorite games added</p>
        <% } %>
    </div>
    
</li>
